# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Mac files
.DS_Store

# Logs
*.log
violations.log

# ML / Training outputs
runs/
datasets/

# Model weights
*.pt
*.pth

# Temporary
*.tmp