# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.local

# Mac files
.DS_Store

# Logs
*.log
violations.log
*.db
*.sqlite3

# ML / Training outputs
runs/
datasets/

# Model weights
*.pt
*.pth

# Temporary
*.tmp
.cache/
videos/uploaded_*.mp4
